:root {
  --height: 100vh;
  --white: #fff;
  --black: #000;
  --whitecolor: #000;
  --blackcolor: #000;
  --gray: #f3f3f3;
  --dgray: #979797;
  --lgray: #c3c3c3;
  --hover: #f9f9f9;
  --check: #f0f0f0;
  --back: #f6f6f6;
  --linkhover: #444444;
  --border: #f0f0f0;
  --arimo: 'Arimo', 'HelveticaNeueCyr', sans-serif;
  --halvar: 'Halvar Breit Md', 'HelveticaNeueCyr', sans-serif;
  --helvetica: 'HelveticaNeueCyr', sans-serif;
}

*::-moz-selection {
  background-color: var(--black);
  color: var(--white);
}

*::selection {
  background-color: var(--black);
  color: var(--white);
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
  
ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type:  none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--black);
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

a:hover {
  color: var(--linkhover);
}

main {
  overflow: hidden;
}

/* start header */

.header__burger {
  display: flex;
  align-items: center;
  gap: 13px;
  color: var(--white);
  -webkit-transition: width .3s linear, margin .4s;
  transition: width .3s linear, margin .4s;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  overflow: hidden;
}

.header__gray .header__burger {
  color: var(--black);
}

.header__burger_button {
  width: 20px;
  height: 15.1px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.header__burger_button span {
  display: block;
  position: absolute;
  height: 1.7px;
  width: 100%;
  background: var(--white);
  border-radius: 1.7px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform .25s ease-in-out, left .25s ease-in-out, top .25s ease-in-out, width .25s linear, opacity .25s ease-in-out;
  transition: transform .25s ease-in-out, left .25s ease-in-out, top .25s ease-in-out, width .25s linear, opacity .25s ease-in-out;
}

.header__gray .header__burger_button span {
  background: var(--black);
}

.header__burger_button span:nth-child(1) {
  top: 0;
}

.header__burger_button span:nth-child(2) {
  width: 14.58px;
  top: 6.7px;
}

.header__burger_button span:nth-child(3) {
  top: 13.4px;
}

.header__burger.active .header__burger_button span:nth-child(1) {
  top: 6.7px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header__burger.active .header__burger_button span:nth-child(2) {
  opacity: 0;
  left: -26px;
}

.header__burger.active .header__burger_button span:nth-child(3) {
  top: 6.7px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* end header */

/* start header menu */

.header__menu {
  max-height: 0;
  padding: 0;
  margin: 0;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s linear, padding 0s linear, margin 0s linear, max-height 0.3s linear, visibility 0s linear;
  transition: opacity 0.3s linear, padding 0s linear, margin 0s linear, max-height 0.3s linear, visibility 0s linear;
  -webkit-transition-delay: 0s, 0.3s, 0.3s, 0.3s, 0.3s;
  transition-delay: 0s, 0.3s, 0.3s, 0.3s, 0.3s;
}

.header__menu.active {
  max-height: 100%;
  padding: 28px;
  margin: 13px 0 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
}

.header__menu_tabs {
  display: flex;
  padding: 0;
  align-items: center;
  -webkit-transition: padding 0.3s linear;
  transition: padding 0.3s linear;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.header__menu.active .header__menu_tabs {
  padding: 0 0 28px;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

.header__menu_tab {
  padding: 10px 20px;
  font-family: var(--arimo);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  color: var(--black);
  background-color: transparent;
  border-radius: 18px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.header__menu_tab_button:hover {
  background-color: var(--gray);
}

.header__menu_tab_button.active {
  color: var(--white);
  background-color: var(--black);
}

.header__menu_list {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 0px;
  justify-content: space-between;
  gap: 80px;
  -webkit-transition: max-height 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: max-height 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  overflow: hidden;
}

.header__menu_list.active {
  max-height: 2000px;
  -webkit-transition: max-height 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: max-height 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.header__menu_item {
  display: flex;
  width: calc(25% - 60px);
  flex-direction: column;
}

.header__menu_item:not(:last-child) {
  border-top: 0.5px solid var(--black);
}

.header__menu_heading {
  padding: 20px 0 28px;
  font-family: var(--arimo);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  z-index: 1;
}

.header__menu_sublist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__menu_sublink {
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__menu_bigimage,
.header__menu_smallimage,
.header__menu_discount {
  display: none;
}

.header__menu_head {
  font-family: var(--arimo);
  font-size: 30px;
  font-weight: 600;
  line-height: 34px;
  position: relative;
  z-index: 1;
}

.header__menu_desc {
  font-family: var(--arimo);
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  position: relative;
  z-index: 1;
}

.header__menu_image {
  display: flex;
  width: 100%;
  height: 510px;
  position: relative;
}

.header__menu_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__menu_image_shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.06);
}

.header__menu_image_info {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  overflow: hidden;
  z-index: 2;
}

.header__collection {
  font-family: var(--arimo);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}

.header__collection_name {
  font-family: var(--halvar);
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: -0.055em;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}

.header__menu_subitem {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.3s linear, transform 0.2s linear;
}

.header__menu_list.active .header__menu_subitem {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition-delay: calc(var(--inc-step)*0.05s + 0.3s);
  transition-delay: calc(var(--inc-step)*0.05s + 0.3s);
}

/* end header menu */

/* start section top */

.section_top {
  height: 224px;
}

.personal__profile {
  display: flex;
  width: 100%;
  padding: 10px 10px 30px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--border);
  -webkit-transition: background-color 0.2s linear, border 0.2s linear;
  transition: background-color 0.2s linear, border 0.2s linear;
  cursor: pointer;
}

.personal__profile:hover,
.personal__profile.active,
.personal__profile:focus {
  background-color: var(--hover);
}

.personal__profile:focus {
  border: 1px solid var(--black);
}

.personal__profile_info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.personal__profile_left {
  display: flex;
  width: 72px;
  height: 72px;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border-radius: 7.38px;
}

.personal__profile_right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}

.personal__profile_nick {
  font-family: var(--halvar);
  font-size: 41px;
  font-weight: 400;
  line-height: 48px;
  color: var(--white);
}

.personal__profile_name {
  font-family: var(--halvar);
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black);
}

.personal__profile_email {
  font-family: var(--helvetica);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--dgray);
}

.personal__profile_icon {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.personal__profile:hover .personal__profile_icon,
.personal__profile.active .personal__profile_icon,
.personal__profile:focus .personal__profile_icon {
  opacity: 1;
}

.personal__buttons {
  display: flex;
  padding: 0 0 52px;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid var(--border);
}

.personal__exit {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
}

.personal__buttons_flex {
  display: flex;
  flex-direction: column;
}

.personal__button {
  display: flex;
  width: 100%;
  padding: 14px;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  -webkit-transition: background-color 0.2s linear, border 0.2s linear;
  transition: background-color 0.2s linear, border 0.2s linear;
  cursor: pointer;
}

.personal__button_image {
  display: flex;
  width: 20px;
  height: 20px;
}

.personal__button:hover,
.personal__button.active,
.personal__button:focus {
  background-color: var(--hover);
}

.personal__button:focus {
  border: 1px solid var(--black);
}

.personal__button_block {
  display: flex;
  align-items: center;
  gap: 14px;
}

.personal__button_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.personal__button_name {
  position: relative;
  z-index: 1;
  font-family: var(--arimo);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);
}

.personal__button_count {
  display: flex;
  height: 21px;
  padding: 2px 8px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-family: var(--arimo);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  background-color: var(--hover);
  border-radius: 14px;
}

.personal__button_discount .personal__button_count {
  color: var(--white);
  background-color: var(--black);
}

.personal__button_discount .personal__button_count span:first-child {
  color: var(--white);
}

.personal__head {
  padding: 16px 0 64px;
  margin: 0;
  font-family: var(--halvar);
  font-size: 50px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
}

.personal__subscription_button {
  padding: 24px 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.personal__check_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.personal__check_label,
.personal__subscription_head {
  font-family: var(--arimo);
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: var(--black);
}

.personal__check_input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.personal__check_label span {
  width: 36px;
  height: 20px;
  display: block;
  background-color: var(--check);
  border-radius: 12px;
  position: relative;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.personal__check_label span:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  background-color: var(--white);
  border-radius: 50%;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: left 0.15s linear;
  transition: left 0.15s linear;
}

.personal__check_label input:checked ~ span:before {
  left: calc(100% - 19px);
}

.personal__check_label input:checked ~ span {
  background-color: var(--black);
}

.personal__subscription {
  padding: 0 0 200px;
}

.personal__subscription_label {
  width: 160px;
  position: absolute;
  bottom: 0;
  font-family: var(--arimo);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--black);
}

.personal__subscription_input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.personal__subscription_label span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.personal__subscription_label img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.personal__subscription_label input ~ .personal__subscription_subscr,
.personal__subscription_label input:checked ~ .personal__subscription_nosubscr {
  display: flex;
}

.personal__subscription_label input ~ .personal__subscription_nosubscr,
.personal__subscription_label input:checked ~ .personal__subscription_subscr {
  display: none;
}

.personal__subscription_head {
  padding: 32px 0 20px;
  border-bottom: 1px solid var(--border);
}

.personal__subscription_item {
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid var(--border);
}

.personal__subscription_block {
  display: flex;
  gap: 20px;
}

.personal__subscription_info {
  display: flex;
  padding: 0 0 22px;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  position: relative;
}

.personal__subscription_info_block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.personal__subscription_image {
  display: flex;
  width: 143px;
  height: 175px;
}

.personal__subscription_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.personal__subscription_firm {
  font-family: var(--halvar);
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: var(--black);
}

.personal__subscription_name,
.personal__subscription_size {
  font-family: var(--arimo);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--black);
}

.personal__subscription_size {
  display: flex;
  align-items: center;
  gap: 4px;
}

.personal__subscription_size span {
  display: flex;
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border-radius: 50%;
}

.personal__subscription_status {
  font-family: var(--halvar);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
}

.personal__subscription_status span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.personal__nostock {
  color: #b9b9b9;
}

.personal__stock {
  color: var(--black);
}

.personal__limit {
  color: #fd9433;
}

.personal__subscription_image,
.personal__subscription_firm,
.personal__subscription_name,
.personal__subscription_size,
.personal__subscription_status {
  opacity: 1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.unchecked .personal__subscription_image,
.unchecked .personal__subscription_firm,
.unchecked .personal__subscription_name,
.unchecked .personal__subscription_size,
.unchecked .personal__subscription_status {
  opacity: 0.5;
}

.personal__desktop_hidden {
  display: none;
}

.personal__mobile_hidden {
  display: block;
}

/* end section top */

/* start media 1919px */
@media (max-width: 1919px) {
  .header__menu.active {
    padding: 24px;
  }
  .header__menu_heading {
    padding: 16px 0 24px;
    font-size: 14px;
    line-height: 16px;
  }
  .header__menu_sublist {
    gap: 16px;
  }
  .header__menu_tab {
    padding: 8px 18px;
  }
  .header__menu.active .header__menu_tabs {
    padding: 0 0 24px;
  }
  .header__menu_list {
    gap: 48px;
  }
  .header__menu_item {
    width: calc(25% - 36px);
  }
  .header__menu_image {
    height: 420px;
  }
  .header__menu_tab {
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
  }
  .header__menu_head {
    font-size: 26px;
    line-height: 30px;
  }
  .header__menu_desc {
    font-size: 16px;
    line-height: 18px;
  }
  .header__collection {
    font-size: 15px;
    line-height: 17px;
  }
  .header__collection_name {
    font-size: 74px;
    line-height: 74px;
  }
  .section_top {
    height: 186px;
  }
  .personal__profile {
    padding: 10px 10px 26px;
    margin-bottom: 16px;
  }
  .personal__profile_left {
    width: 58px;
    height: 58px;
  }
  .personal__profile_nick {
    font-size: 33px;
    line-height: 39px;
  }
  .personal__profile_info {
    gap: 12px;
  }
  .personal__profile_name {
    font-size: 16px;
    line-height: 19px;
  }
  .personal__profile_email {
    font-size: 14px;
    line-height: 18px;
  }
  .personal__buttons {
    padding: 0 0 44px;
    gap: 16px;
  }
  .personal__button {
    padding: 12px;
    gap: 10px;
  }
  .personal__button_name {
    font-size: 15px;
    line-height: 21px;
  }
  .personal__button_block {
    gap: 10px;
  }
  .personal__button_image {
    width: 18px;
    height: 18px;
  }
  .personal__button_count {
    height: 18px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .personal__exit {
    padding: 16px 0;
  }
  .personal__head {
    padding: 10px 0 44px;
    font-size: 40px;
    line-height: 48px;
  }
  .personal__subscription_button {
    padding: 20px 0;
  }
  .personal__check_label,
  .personal__subscription_head {
    font-size: 16px;
    line-height: 18px;
  }
  .personal__subscription_head {
    padding: 28px 0 16px;
  }
  .personal__subscription_item {
    padding: 20px 0;
  }
  .personal__subscription_image {
    width: 106px;
    height: 130px;
  }
  .personal__subscription_firm {
    font-size: 16px;
    line-height: 19px;
  }
  .personal__subscription_name,
  .personal__subscription_size,
  .personal__subscription_label {
    font-size: 14px;
    line-height: 17px;
  }
  .personal__subscription_label img {
    width: 14px;
    height: 14px;
  }
  .personal__subscription_status {
    font-size: 12px;
    line-height: 14px;
  }
}
/* end media 1919px */

/* start media 767px */
@media (max-width: 767px) {
  :root {
    --whitecolor: #fff;
  }
  .header__gray {
    background-color: var(--back);
  }
  .header__gray.header-bg {
    background-color: var(--white);
  }
  .header__burger {
    color: var(--black);
  }
  .header__burger_button span {
    background: var(--black);
  }
  .header__menu {
    height: calc(var(--height) - 50px);
    -webkit-transition-delay: 0s, 0.6s, 0.6s, 0.3s, 0.6s;
    transition-delay: 0s, 0.6s, 0.6s, 0.3s, 0.6s;
  }
  .header__menu.active {
    max-height: calc(var(--height) - 50px);
    padding: 0;
  }
  .header__menu_tab,
  .header__menu_tab:hover {
    padding: 0 0 4px;
    font-size: 14px;
    line-height: 18px;
    color: var(--lgray);
    background-color: transparent;
    border-radius: 0;
  }
  .header__menu_tab.active {
    color: var(--black);
    background-color: transparent;
    border-bottom: 1.5px solid var(--black);
  }
  .header__menu_tabs {
    height: 39px;
    gap: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .header__menu.active .header__menu_tabs {
    padding: 0 0 16px;
  }
  .header__menu_tabs::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  .header__menu_tabs::-webkit-scrollbar-thumb {
    display: none;
    width: 0;
    background: transparent;
  }
  .header__menu_heading,
  .header__menu_item:last-child {
    display: none;
  }
  .header__menu_list {
    flex-direction: column;
    gap: 6px;
  }
  .header__menu_item {
    width: 100%;
  }
  .header__menu_item:not(:last-child) {
    border-top: 0;
  }
  .open,
  .open body {
    height: 100vh;
    overflow: hidden;
  }
  .open header,
  .open .header-bg,
  .open .header_hidden {
    max-height: var(--height);
    padding: 0;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--white);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0s;
    transition: padding 0.2s linear;
  }
  .open .header-wrapper {
    height: 51.5px;
  }
  .header__menu_lists {
    max-height: calc(var(--height) - 103.5px);
    padding: 0 0 14px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .header__menu_lists::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  .header__menu_lists::-webkit-scrollbar-thumb {
    display: none;
    width: 0;
    background: transparent;
  }
  .header__menu_subitem {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  .header__menu_list.active .header__menu_subitem {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .header__menu_sublist {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
  .header__menu_item:first-child .header__menu_sublist,
  .header__menu_item:nth-child(3) .header__menu_sublist {
    gap: 6px;
  }
  .header__menu_subitem {
    width: 100%;
  }
  .header__menu_subitem_small {
    width: calc(50% - 3px);
  }
  .header__menu_item:nth-child(1) .header__menu_sublink {
    min-height: 92px;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header__menu_sublink .header__menu_head {
    max-width: 100px;
  }
  .header__menu_bigimage {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
  }
  .header__menu_smallimage {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
  }
  .header__menu_head {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
  }
  .header__menu_desc {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
  }
  .header__menu_item:nth-child(2) .header__menu_subitem:first-child .header__menu_sublink {
    border-top: 1px solid var(--border);
  }
  .header__menu_item:nth-child(2) .header__menu_sublink {
    padding: 6px 16px 6px 0;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--border);
  }
  .header__menu_item:nth-child(2) .header__menu_sublink::after {
    content: "";
    width: 8px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('../img/icon/arrow-right.svg') center center no-repeat;
    background-size: 8px 14px;
  }
  .header__menu_item:nth-child(3) .header__menu_sublink {
    min-height: 92px;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header__menu_item:nth-child(3) .header__menu_subitem:first-child .header__menu_sublink {
    flex-direction: column;
    justify-content: space-between;
  }
  .header__menu_discount {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
    color: var(--black);
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }
  .header__menu_discount span:first-child {
    padding: 0 0 2px;
    font-family: var(--halvar);
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: -0.03em;
    border-bottom: 2px solid var(--black);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  .header__menu_discount span:last-child {
    font-family: var(--halvar);
    font-size: 29px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.03em;
  }
  .section_top {
    height: 141px;
    background-color: var(--back);
  }
  .section_personal {
    background-color: var(--back);
  }
  .personal__control {
    display: flex;
    flex-direction: column-reverse;
  }
  .personal__block_buttons {
    margin: 0 -14px;
    padding: 14px;
    background-color: var(--white);
    border-radius: 20px;
  }
  .personal__desktop_hidden {
    display: block;
  }
  .personal__mobile_hidden {
    display: none;
  }
  .personal__button_discount_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .personal__button_discount .personal__button_image {
    display: none;
  }
  .personal__button.personal__button_discount {
    min-height: 154px;
    margin: 0 0 20px;
    padding: 20px 20px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
    border-radius: 6px;
    overflow: hidden;
  }
  .personal__button_discount .personal__button_name {
    max-width: 125px;
    font-family: var(--halvar);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: var(--black);
    text-align: left;
    word-break: break-all;
  }
  .personal__button_discount .personal__button_count {
    width: max-content;
    height: max-content;
    margin: 0 0 0 auto;
    font-family: var(--halvar);
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    background-color: transparent;
  }
  .personal__head {
    padding: 0 0 36px;
    font-size: 22px;
    line-height: 20px;
  }
  .personal__buttons_flex:first-child {
    flex-direction: row;
    gap: 6px;
  }
  .personal__buttons_flex:first-child  .personal__button {
    padding: 16px;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: var(--back);
  }
  .personal__buttons_flex:first-child  .personal__button_block {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }
  .personal__buttons_flex:first-child  .personal__button_count {
    font-size: 12px;
    line-height: 14px;
    background-color: var(--white);
  }
  .personal__buttons {
    padding: 0;
    gap: 28px;
    border-bottom: 0;
  }
  .personal__button {
    padding: 10px 0;
  }
  .personal__exit {
    padding: 0;
  }
  .personal__button_exit .personal__button_block {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .personal__profile_nick {
    font-size: 27px;
    line-height: 33px;
  }
  .personal__profile_left {
    width: 46px;
    height: 46px;
  }
  .personal__profile_icon {
    opacity: 1;
    background-color: transparent;
  }
  .personal__profile {
    padding: 10px 0;
    margin: 12px 0;
  }
  .personal__subscription {
    margin: 0 -14px;
    padding: 14px 14px 200px;
    background-color: var(--white);
    border-radius: 20px;
  }
  .personal__subscription_block {
    gap: 16px;
  }
  .personal__subscription_image {
    width: 98px;
    height: 120px;
  }
  .personal__check_label,
  .personal__subscription_head {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
  }
  .personal__top {
    display: flex;
    padding: 0 0 24px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .personal__arrow {
    display: flex;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    background-color: var(--back);
    border-radius: 50%;
  }
  .personal__arrow img {
    width: 14px;
    height: 14px;
    object-fit: contain;
  }
  .personal__count {
    display: block;
    font-family: var(--helvetica);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.03em;
    color: var(--black);
  }
}
/* end media 767px */